/* This will be the background image */
body {
    background-image: url('/images/daytime_lofi.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

img {
    width: 30px;
    height: 30px;
}

/*music stuff ===================================================*/
.buttons {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10%;
}

.buttons span {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.buttons span:active,
.buttons span.active {
    color: pink;
    box-shadow: inset 0 -7px 5px black,
    inset 0 5px 10px black;
}

.buttons span.playPause {
    width: 100px;
    height: 100px;
}

.buttons span ion-icon {
    font-size: 3em;
}
/*==============================================================*/