/* formats the digital clock */
.Date { 
    font-family: monospace ;
    font-weight: bold;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    color: darkturquoise;
    text-align: center;
  }
/* formats the dates */
.date {
    font-size: 30pt;
  }