/*  Timer clock==========================================================*/
body {
  font-family: "Pacifico", cursive;
}

#container {
  border-radius: 100px;
  text-align: center;
}

/* Countdown timer */
#timer {
  text-align: center;
  color: rgb(249, 242, 242);
  font-size: 30px;
  margin: 10px auto;
  animation: blinker 2s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.time {
  margin-top: 70px;
  z-index: 1;
  position: relative;
}

#buttons button {
  background: #5aa2ee;
  border: none;
  color: #fffefe;
  cursor: pointer;
  padding: 5px;
  width: 90px;
  margin: 10px auto;
  font-size: 14px;
  height: 50px;
  border-radius: 50px;
}

#buttons button#Short {
  background: #0c0;
}

#buttons button#Long {
  background: #080;
}

#buttons button#Stop {
  background: rgb(255, 1, 1);
}
